@model cutoff.Models.ShowIndexVM
@{
    ViewData["Title"] = "Cutoff Shows";
}

<div id="filter" class="row row-cols-2 row-cols-md-3 row-cols-lg-4 g-2">
    <div class="form-floating">
        <select id="network" class="form-select">
            <option value="0" selected>All</option>
            @foreach (var network in Model.Networks)
            {
                <option value="@network.NetworkId">@network.NetworkName</option>
            }
        </select>
        <label for="network">Network</label>
    </div>
    <div class="form-floating">
        <select id="genre" class="form-select">
            <option value="0" selected>All</option>
            @foreach (var genre in Model.Genres)
            {
                <option value="@genre.GenreId">@genre.GenreName</option>
            }
        </select>
        <label for="genre">Genre</label>
    </div>
    <div class="form-floating">
        <select id="language" class="form-select">
            <option value="0" selected>All</option>
            @foreach (var language in Model.Languages)
            {
                <option value="@language.LanguageId">@language.LanguageName</option>
            }
        </select>
        <label for="language">Language</label>
    </div>
    <div class="form-floating">
        <select id="star" class="form-select">
            <option value="0" selected>All</option>
            @foreach (var star in Model.Languages)
            {
                <option value="@star.LanguageId">@star.LanguageName</option>
            }
        </select>
        <label for="star">Star</label>
    </div>
</div>

<div id="showGrid" class="row row-cols-2 row-cols-md-3 row-cols-lg-4 g-2"></div>

<div id="showModal" class="modal fade" tabindex="-1" data-backdrop="static"></div>

<script type="text/javascript">
    $(".form-select").change(function () {
        var networkDropdown = document.getElementById("network").value;
        var genreDropdown = document.getElementById("genre").value;
        var languageDropdown = document.getElementById("language").value;

        var data = { "networkId": networkDropdown, "genreId": genreDropdown, "languageId": languageDropdown };
        var link = '@Url.Action("ShowGrid", "Show")';
        $.ajax({
            type: "POST",
            url: link,
            data: data,
            success: function (response) {
                $("#showGrid").html(response);
            }
        });
    });

    var link = '@Url.Action("ShowGrid", "Show")';
    $("#showGrid").load(link, function (response) {
        $("#showGrid").html(response);
    });
</script>